<script setup lang="ts">
import { useAuth0 } from "@auth0/auth0-vue";

const { error } = useAuth0();
</script>

<template>
  <div v-if="error" class="container-fluid d-flex flex-row">
    <div class="content-layout">
      <h1 id="page-title" class="content__title">Error</h1>
      <div class="content__body">
        <p id="page-description">
          <span>{{ error.message }}</span>
        </p>
      </div>
    </div>
  </div>
</template>
