<script setup lang="ts">
//import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <header>
    <div class="header-content flex-wrap flex-md-nowrap">
      <h2>Tags</h2>
      <button class="btn">New Tag</button>
    </div>
  </header>
  <section>
    <table class="table">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Slug</th>
          <th>Posts</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>
            <button class="btn btn-sm">Cont</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<style scoped lang="scss">
header {
  padding: 1rem 1.5rem;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

section {
  padding: 1rem 1.5rem;
}
</style>
