<script setup lang="ts">
</script>

<template>
  <nav>
    <router-link to="/" class="sidebar-brand">
      <img src="/assets/vue.svg" alt="logo" />
      <span class="fs-4">Sidebar</span>
    </router-link>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <router-link to="/" class="nav-link active">
          <vue-feather class="me-2" type="home" size="1rem"></vue-feather>
          Home
        </router-link>
      </li>

      <li class="nav-item">
        <router-link to="/tags" class="nav-link">
          <vue-feather class="me2" type="tag" size="1rem"></vue-feather>
          Tags
        </router-link>
      </li>

      <li class="nav-item">
        <router-link to="/categories" class="nav-link">
          <feather-icon name="home"></feather-icon>
          Categories
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<style scoped lang="scss">
nav {
  width: 20rem;
  padding: 1rem;

  .sidebar-brand {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #563d7c;
    border-radius: 0.25rem;
  }
}
</style>
