<script setup lang="ts">
import Sidebar from './components/Sidebar.vue';
</script>

<template>
  <div class="container-fluid d-flex flex-row">
    <sidebar />

    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<style scoped lang="scss">
main {
  width: 100%;
  padding: 1rem 1.5rem;
}
</style>
